body {
  background: #7a7a7a;

  div {
    background: #5c5c5c;
    //display: flex;
    //flex-flow: row wrap;
    //justify-content: center;
    //width: 100%;
  }
  //
  //span {
  //  display: flex;
  //  flex-flow: row wrap;
  //  justify-content: center;
  //  align-items: center;
  //  transition: all 1s;
  //}

  h3 {
    color: red;
  }
}

.menu {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;

  &__link-wrap {
    padding: 3px;
  }

  &__link {
    text-decoration: none;
    color: #a7a7a7;
  }
}

.a-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

@import 'style.css';
