.dog {
  width: 100%;
  justify-content: flex-start;

  button {
    //width: 100%;
    position: relative;
    min-width: 60px;
    min-height: 21px;
    overflow: hidden;
  }

  .img-container {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
