<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="./favicon.ico">

  <link rel="stylesheet" type="text/html" href="./<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
